<header class="main-header">
<nav>
  <div class="logo">
    <img src="https://media.eventhubs.com/static/images/eventhubslogo1.png" alt="logo">
  </div>
  <div class="menudesk">
    <ul class="">
      <li><%= link_to "News", root_path, class: "news" %></li>
      <li><%= link_to "Rank", gamers_path, class: "rank" %></li>
      <li><%= link_to "Profil", gamers_path, class: "profil" %></li>
    </ul>
  </div>
  <div class="nav-toggle">
    <div class="hamburger"></div>
  </div>
</nav>
<div id="menu-app-slide" class="">
  <div class="menuapp">
    <div class="container">
      <div class="profil">
        <img src="https://www.les-transferts.com/wp-content/uploads/2018/05/52a1abaa-5538-4590-b365-c840a82a2402.jpg" alt="">
        <p>@Username</p>
      </div>
    </div>
    <ul class="">
      <li><%= link_to "Home", root_path, class: "news" %></li>
      <li><%= link_to "Ranking", gamers_path %></li>
      <li><%= link_to "random", gamers_path %></li>
      <li><%= link_to "Profil", gamers_path %></li>
      <li><%= link_to "Logout", gamers_path %></li>
    </ul>
  </div>
  <div class="menu-app-side">
    <!-- shadow only -->
  </div>
</div>

</header>
