<!DOCTYPE html>
<html>
  <head>
    <title>App THP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%= render 'layouts/layout/header' %>

    <%= yield %>

    <!-- Footer -->
    <script type="text/javascript"></script>
  </body>
  <%= render 'layouts/layout/footer' %>
</html>
