<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%= render 'layouts/layout/header' %>



    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/layout/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript">
    $(function(){
    	$(".logo").click(function(){
    		$(".section").toggle(200);
    	});


      // hamburger menu toggle
      $('.nav-toggle').click(function() {
        $('.main-nav').toggleClass('is-open');
        $('.hamburger').toggleClass('is-open');
        $('.menu').toggleClass('menuapp');
        $('body').toggleClass('shadow');
      })

    });



  </script>
  </body>
</html>
